@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

body {
    background-color: #064929;
    color: white;
}

.find-item, .clear-results {
    background-color: rgb(17, 66, 23);
    color: white;
    font-size: 1rem;
    margin: 5px;
    padding: 5px;
}

h1 {
    font-family: 'Neucha', cursive;
    font-size: 2rem;
}

.heading { 
    text-align: center;
    margin: 10px;
}

.heading img {
    max-width: 40%;
}

.list-options, .search-box {
    margin: 0.25rem;
    padding: 0.25rem;
}
